<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687489798500-t1num2ubahit8klpc73higa1oegpgmsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687489798500-t1num2ubahit8klpc73higa1oegpgmsp</string>
	<key>API_KEY</key>
	<string>AIzaSyAOu2DFLd3dqVXU4JxiusZ2Dgrzf3MGIc4</string>
	<key>GCM_SENDER_ID</key>
	<string>687489798500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kai.IphoneIpadFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-6f316</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-6f316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687489798500:ios:ced15cdda41b9e0d78aa71</string>
</dict>
</plist>